*
!.gitignore

!i3/
!i3/**

!fastfetch/
!fastfetch/**

!i3blocks/
!i3blocks/**

!kitty/
!kitty/**

!xkb-files/
!xkb-files/**

!pkg-manage/
!pkg-manage/**
pkg-manage/exec
pkg-manage/.pkg-last-diff

!screenshots/
!screenshots/image.png
!screenshots/image-1.png

!README.md
!*.sh

!cans-dwm/
!cans-dwm/**

!pics/
!pics/**